          body {
            margin: 0px;
          }
            #background {
              min-height: 1000px;
              background: linear-gradient(to right top, #41f8fc, #b12ba4);
              align-items: center;
              justify-content: center;
              display: flex;
            }

            #container {
              border-radius: 40px;
              width: 80%;
              background-color: white;
              min-height: 800px;
              background: linear-gradient(to left bottom,
                rgba(255,255,255,0.3),
                rgba(255,255,255,0.7));
              z-index: 5;
              }

            #circle1, #circle2, #circle3, #circle4, #circle5, #circle6, #circle7 {
              background-color: white;
              border-radius: 50%;
              position: absolute;
            }

            #circle1 {
              background: linear-gradient(to left bottom,
                rgba(255,255,255,1),
                rgba(255,255,255,0));
              top: 10%;
              height: 10rem;
              width: 10rem;
              left: 74%;
              z-index: 1;
            }

            #circle2 {
              background: linear-gradient(to left bottom,
                rgba(255,255,255,0.5),
                rgba(255,255,255,0.1));
              top: 50%;
              height: 5rem;
              width: 5rem;
              left: 74%;
              z-index: 1;
            }

            #circle3 {
              background: linear-gradient(to left bottom,
                rgba(255,255,255,0.1),
                rgba(255,255,255,0.3));
              top: 50%;
              height: 8rem;
              width: 8rem;
              left: 1px;
              z-index: 1;
            }

            #circle4 {
              background: linear-gradient(to left bottom,
                rgba(255,255,255,0),
                rgba(255,255,255,1));
              top: 10%;
              height: 73px;
              width: 73px;
              left: 25%;
              z-index: 1;
            }

            #circle5 {
              background: linear-gradient(to left bottom,
                rgba(255,255,255,0.6),
                rgba(255,255,255,0.3));
              top: 20%;
              height: 23px;
              width: 23px;
              left: 50%;
              z-index: 1;
            }

            #circle6 {
              background: linear-gradient(to left bottom,
                rgba(255,255,255,0.9),
                rgba(255,255,255,0.1));
              top: 70%;
              height: 95px;
              width: 95px;
              left: 89%;
              z-index: 0;
            }

            #circle7 {
              background: linear-gradient(to left bottom,
                rgba(255,255,255,0.1),
                rgba(255,255,255,0.7));
              top: 99%;
              height: 290px;
              width: 290px;
              left: 70%;
              z-index: 0;
            }

          #dashboard {
            display: flex;
            padding: 20px;
            justify-content: space-between;
            background-color: black;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            height: 40px;
          }

          #home, #about {
            margin-right: 20px;
            height: 20px;
            transition: borber-bottom 0.5s;
            color: white;
            transition: color 0.5s;
            border-bottom: 1px solid transparent;
            cursor: pointer;
          }

          #home:hover, #about:hover {
            color: red;
            border-bottom: 1px solid red;
          }

          #home > a, #about > a {
            text-decoration: none;
            color: white;
            transition: 1s;
          }

          #home > a:hover, #about > a:hover {
            color: red;
          }

          #right_side > div {
            font-family: algerian;
            font-weight: bold;
            color: blue;
            font-size: 40px;
          }

          #left_side {
            display: flex;
          }

          #img {
            background-image: url(clothing.jpg);
            height: 80px;
            width: 80px;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 40px;
            margin-top: 10px;
            margin-right: 10px;
            border-right: 1px solid grey;
            padding-right:10px;
            transition: 0.5s;
            cursor: pointer;
          }

          #img:hover {
            height: 90px;
            width: 90px;

          }
            #side_text {
              margin-top: 10px;
              margin-bottom: 30px;
              transition: 0.5s;
              cursor: pointer;
            }

            #side_text:hover {
              color: red;
              font-size: 17px;
            }
          #clothing {
            width: 100%;
            height: 100px;
            margin-bottom: 2px;
            border-radius: 40px;
            display: flex;
            border-bottom: 0.5px solid black;
            transition: 0.5s;
          }
          #clothing:hover {
            height: 110px;
            border-bottom: 5px solid black;
            background: linear-gradient(to right,
              rgba(255,255,255,0.3),
              rgba(255,255,255,0.3));
          }

          #head {
            text-align: center;
            font-size: 40px;
            font-family: sans-serif;
            margin-top: 20px;
          }

          #sub_head {
            text-align: center;
            font-family: sans-serif;
            margin-bottom: 30px;
          }

          #body {
            display: flex;
            margin-right: 20px;
            margin-left: 20px;
            margin-top: 20px
          }

          #text {
            margin: 10px;
          }

          #main_content {
            display: flex;
            flex-wrap: wrap;
            margin-left: 30px;
          }

            #main_content > div {
              width: 220px;
              height: 220px;
              margin-bottom: 10px;
              margin-left: 30px;
              transition: 1s;
            }

            #main_content > div:hover {
              filter: brightness(10%)
            }

            #side_bar {
              width: 650px;
              min-height: 800px;
              border-radius: 15px;
              margin-bottom: 20px;
              margin-left: 25px;
              background: linear-gradient(to bottom,
                rgba(75, 213, 48, 0.5),
                rgba(71, 98, 65, 0.3));
            }
